.community {
    width:           100%;
    height:          42rem;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
    background:      transparent url('/sections/community/group.svg') 0% 0% no-repeat padding-box;
}

.btns {
    display:         flex;
    justify-content: center;
    align-items:     center;
    gap:             3.90375rem;
}

.title {
    font-family: var(--font-Poppins);
    font-size:   3.75rem;
    font-weight: 600;
    color:       var( --font-community );
    line-height: 1.2;
}