.work {
    display:         flex;
    flex-direction:  row;
    justify-content: space-around;
    align-items:     center;
    gap:             10.4375rem;
    margin-top:      9.040625rem;
}

.article {
    margin-left: 17.875rem;
}

.containerText {
    display:        flex;
    flex-direction: column;
    align-items:    flex-start;
}

.h2 {
    font-family: var(--font-Montserrat);
    font-size:   var(--font-43px);
    font-weight: var(--font-regular);
    font-weight: bold;
    color:       var( --font-work-h2 );
    white-space: pre-wrap;
    opacity:     1;
}

.p {
    font-family: var( --font-Poppins );
    font-size:   var( --font-15px );
    font-weight: var( --font-regular );
    color:       var( --font-work-p );
    white-space: pre-wrap;
    opacity:     1;
}

.containerBtn {
    margin-top: 3rem;
}

.containerImage {
    margin-right: 10.4375rem;
    background:   transparent url('/sections/community/group.svg') 0% 0% no-repeat padding-box;
    opacity:      1;
}