.search {
    width:           20.375rem;
    height:          3.125rem;
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    border:          1px solid var(--border-search);
    border-radius:   4px;
}

.search input::placeholder {
    color:   var(--font-input);
    opacity: 0.7;
}

.containerInput {
    margin-left: 1.3125rem;
}

.containerImage {
    margin-right: 1.3125rem;
}